h1 {
  color: green;
  border: 2px solid darkolivegreen;
  width: 300px;
  border-radius: 10px;
}

header h1 {
  color: hotpink;
}

.test2 {
  background-color: pink;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    margin: 0 20%;
}

a {
  border: 1px solid green;
  padding: 10px 20px;
  text-decoration: none;
  background-color: rgb(94, 215, 94);
}

img {
  display: block;
  margin: auto;
}